.background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    heigth:100%;
    width: 100%;
    background-image:url(./../images/background2.jpg);
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.mainContainer {
    position: center;
    margin-left: auto;
    border-radius: 1em;
    margin-right: auto;
    padding : 40px;
    margin-top: 4%;
    width: 60%;
    z-index: 1;
    background-color: #EFF0FF;
}

.formStyle {
    border-radius: 07em;
    -moz-box-shadow: 8px 8px 5px 0px #656565;
    -webkit-box-shadow: 8px 8px 5px 0px #656565;
    -o-box-shadow: 8px 8px 5px 0px #656565;
    box-shadow: 8px 8px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height : 25px;
}

.formText {
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:0.4;
    font-weight: bold;
}

.formButton {
    border-radius: 10px 40px;
    height: 40px;
    width: 80px;
    background-color: #DB4FFF;
}

.itemsDisplay {
    display: inline-block;
    width: 328px;
    height: 417px;
    background-color: #D3DBFF;
    margin-left: 40px;
    margin-bottom: 50px;
    overflow: auto;
    border-radius: 0.5em;
    -moz-box-shadow: 8px 8px 5px 0px #656565;
    -webkit-box-shadow: 8px 8px 5px 0px #656565;
    -o-box-shadow: 8px 8px 5px 0px #656565;
    box-shadow: 8px 8px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.itemsDisplay:hover {
    transform: scale(1.1);
}

.itemsDisplay:active {
    transform: scale(1.1);
}

.itemPicture {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12%;
    min-width: 75%;
    max-width: 75%;
    box-shadow:  3px 3px 5px;
}

.itemName {
    margin-left: 12.5%;
    font-family:Verdana,sans-serif;
    line-height:0.4;
    font-size: 25px;
    font-weight: bold;
}

.itemStock {
    display: inline-block;
    margin-top: -20px;
    margin-left: 12.5%;
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:0.5;
}

.itemPrice {
    display: inline-block;
    margin-right: 12.5%;
    margin-top: -10px;
    margin-left: auto;
    padding-left : 30.5%;
    font-family:Verdana,sans-serif;
    line-height:0.5;
    font-size: 25px;
    font-weight: bold;
}

.itemButton {
    display: block;
    margin-left: auto;
    height : 40px;
    font-family:Verdana,sans-serif;
    line-height:1;
    font-weight: bold;
    margin-top: -20px;
    background-color: #DB4FFF;
    border-radius: 10px 40px;
}
