
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #D3DBFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 1em;
}

.webName {
    font-family:Verdana,sans-serif;
    font-size:25px;
    line-height:0.5;
}

.presentation {
    width:40%;
    display: inline-block;
}

.containerConnect{
    display: inline-block;
    margin-top: -40px;
    margin-left: 40%;
}

.connectButton {
    border-radius: 10px 40px;
    height: 40px;
    width: 150px;
    background-color: #DB4FFF;
    font-weight: bold;
}



.listDeroulante {
    display: inline-block;
    margin-left: 12.5%;
    margin-top: -10px;
}

.presentation h1 {
    font-family:Verdana,sans-serif;
    font-size:20px;
    line-height:1;
}

.h1Text {
    font-family:Verdana,sans-serif;
    font-size:20px;
    line-height:1;
}

.pText {
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1;
    color: grey;
}

.presentation p {
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1;
    color: grey;
}

.presentation ul {
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1;
    color: grey;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mainContent{
    position: fixed;
    padding-top: 200px;
    z-index: 1;
}



.billName {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.centerTheBlock {
    margin-left: 45%;
    margin-right: 50%;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF7AF3;
    color: white;
}

.randomPicture {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12%;
    min-width: 75%;
    max-width: 75%;
}